.main-wrapper{
    background-color: rgb(14, 14, 15);
    height: 100%;
    flex: 1;
    top: 90px;
    left: 245px;
    border-top-left-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
h1{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: white;
    font-size: 28px;
    margin-top: 40px;
    margin-left: 55px;
    display: none;
    float: left;
}
app-movies {
    width: 75%;
  }
  
  app-new-movies-bar {
    width: 25%;
  }