<div class="movies-header">
  <h1>Top Rated Movies</h1>
  <a href="chart/top">See more</a>
</div>
<div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="card-wrapper container-sm d-flex  justify-content-around">
        <div class="card" *ngFor = "let movie of topMovies.slice(0,5)"style="width: 16%;">
          <img src="{{movie.image}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title two-line">{{movie.name}}</h5>
            <div style="display: flex;">
              <i class="fa-sharp fa-solid fa-star" style="color: #e7bc11;"></i>
              <p>{{movie.rating}}</p>
            </div>
          </div>
          
      </div>

  </div>
      </div>
      <div class="carousel-item">
        <div class="card-wrapper container-sm d-flex   justify-content-around">
          <div class="card" *ngFor = "let movie of topMovies.slice(5,10)"style="width: 16%;">
            <img src="{{movie.image}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title two-line">{{movie.name}}</h5>
              <div style="display: flex;">
              <i class="fa-sharp fa-solid fa-star" style="color: #e7bc11;"></i>
              <p>{{movie.rating}}</p>
            </div>
            </div>
        </div>
            
      </div>
      </div>
      <div class="carousel-item">
        <div class="card-wrapper container-sm d-flex   justify-content-around">
          <div class="card" *ngFor = "let movie of topMovies.slice(10,15)"style="width: 16%;">
            <img src="{{movie.image}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title two-line">{{movie.name}}</h5>
              <div style="display: flex;">
              <i class="fa-sharp fa-solid fa-star" style="color: #e7bc11;"></i>
              <p>{{movie.rating}}</p>
            </div>
            </div>
        </div>
            
      </div>
      </div>
      <div class="carousel-item">
        <div class="card-wrapper container-sm d-flex   justify-content-around">
          <div class="card" *ngFor = "let movie of topMovies.slice(15,20)"style="width: 16%;">
            <img src="{{movie.image}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title two-line">{{movie.name}}</h5>
              <div style="display: flex;">
              <i class="fa-sharp fa-solid fa-star" style="color: #e7bc11;"></i>
              <p>{{movie.rating}}</p>
            </div>
            </div>
        </div>
            
      </div>
      </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<hr>

<div class="movies-header">
  <h1>New Movies</h1>
  <a href="#">See more</a>
</div>
<div class="card-wrapper container-sm d-flex  justify-content-around row row-cols-1 row-cols-md-3 row-cols-lg-5" id="newMoviesWrapper">
      <div class="card" *ngFor = "let movie of newestMovies"style="width: 18%;">
        <img src="{{movie.image}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title two-line">{{movie.name}}</h5> 
          <div style="display: flex;">
          <i class="fa-sharp fa-solid fa-star" style="color:  #e7bc11;"></i>      
          <p>{{movie.rating}}</p>  
        </div>
        </div>  
      </div>
      <nav aria-label="Page navigation example" id="pagesNav">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" (click)="previousPage()" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li [class.active]="currentPage === 1" (click) = "goToPage(1)" class="page-item"><a class="page-link" >1</a></li>
          <li [class.active]="currentPage === 2" (click) = "goToPage(2)" class="page-item"><a class="page-link">2</a></li>
          <li [class.active]="currentPage === 3" (click) = "goToPage(3)" class="page-item"><a class="page-link" >3</a></li>
          <li [class.active]="currentPage === 4" (click) = "goToPage(4)" class="page-item"><a class="page-link" >4</a></li>
          <li class="page-item">
            <a class="page-link"(click)="nextPage()" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>

   



      
      
 
